body{
    margin:5em;
    padding: 0;
}
caption{
    margin:0;
    padding: 0;
    font-family: "Arial Black", sans-serif;
    font-size: xx-large;
    color: blue;
    background-size: cover;
}
table {
    width: 85%;
    background-color: white;
    border-collapse: collapse;
    bottom: 5px;
}

th {
    height: 10px;
    border: 1px solid black;
    margin: 2px;
    padding: 1px 2px;
    color: blue;
    font-size: large;
    font-family: "Arial Black", sans-serif;
    background-color: darkturquoise;
}
.vecka{
    background-color: lightslategrey;
}
tr.matte {
    background-color: lightskyblue;
}
tr.webbutveckling {
    background-color: pink;
}
tr.programmering {
    background-color: #aaaaaa;
}
tr.digital{
    background-color: yellow;
}
tr.gränssnittsdesign{
    background-color: cornflowerblue;
}
tr.web-2{
    background-color: aqua;
}
.none{
    background-color: white;
}

td {
    border: 1px solid black;
    padding: 2px;
    text-align: center;
}
.table-1{
    border-color: white;
}
.kurser{
    margin: 0;
    padding: 0;
    text-justify: auto;
}
.kurser a{
    text-decoration: none;
    text-align: center;
}

.high {
    margin-top: 3em;
    padding: 1px;
    text-align: center;
    border: 3px solid;
}
h2{
    font-family: "Arial Black", serif;font-style: normal;
    text-align: center;
    text-space: 10px;
    color: midnightblue;
}
h3{
    font-size: x-large;
    color: #45a049;
    text-align: center;
}
.parcell{
    text-align: center;
    font-size: x-large;
    color: black;
    background-color: lightskyblue;
}
.related-items{
    padding: 10px;
    width: 100%;
    place-content: space-between;
    text-align: center;
}
.related-items a{
    text-decoration: none;
    margin-right: 35px;
    margin-bottom: -20em;

}
