body {
    margin: 0;
    padding: 0;
    background-size: cover;

}
nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid lightskyblue;
    background-color: gray;
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    right: 0;


}
.nav-link {
    color: brown;
    text-decoration: none;
    font-size: 20px;

}
.nav-item a{
    padding: 5px;
    text-align: left;
}
.nav-item:hover:not(.active) {
    background-color: wheat;
}

.active {
    background-color: lightslategrey;
}
@media only screen and (min-width: 768px) {
    .active {
        background-color: beige;
    }
}

@media only screen and (min-width: 1200px) {
    .active {
        background-color: wheat;
    }
    nav {
        flex-direction: row;
    }
    .nav-item {
        padding: 10px 20px;
    }
}